.form{
    max-width: 800px;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.form--input{
    border: 1px solid #d1d1d1;
    outline: 1px solid #ffffff00;
    border-radius: 4px;
    padding: 0 .5rem;
}

.form--input:hover{
    border: 1px solid #0077ff;
    outline: 1px solid #0077ff;
}

.form--btn{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 1rem;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #2d056e, #0059ff, #2dceff)
}

.form--btn:hover{
    cursor: pointer;
    background: linear-gradient(to right, #2d056e, #0059ff);
}

.form--btn-icon{
    margin-right: .2rem;
}

.meme--image{
    position: relative;
    width: 740px;
    margin: 2rem auto;
    border-radius: 4px;
    background-color: #efefef;
}